@use '../_abstracts' as *;

.c-showmore4 {
    $root: &;

    &.is-show {
        #{$root}__inner {
            &::after {
                content: none;
            }
        }
    }

    .js-showmore4-item {
        display: none;
    }

    &__inner {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 100%;
            background: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgb(255, 255, 255) 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            pointer-events: none;
            transition: .3s all;
            height: if-sp(vw-sp(80), 80px);
        }
    }
}
